.App {
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.MainComponent{
    width: 860px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    color:  hsl(184, 14%, 56%);
}